<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body{
    margin: 0px;
    background-color: green;
    background-image: url("/image/115157812.0.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    }
    form{
        position: absolute;
        width: 500px;
        height: 45px;
        left: 490px;
        top: 200px;
    }
    
    
    </style>
<body>
    <h1>Register page</h1>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name=""  id="">
    </form>
</body>
</html>